.header {
  display: flex;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
  border-bottom: 1px solid black;
  justify-content: space-between;

}

.logo {
  display: flex;
  align-items: center;

}
.logo p {
  color: MediumAquamarine;
  padding: 5px;
}

.logo img {
  padding: 10px 10px 10px 20px;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.headlink {
  padding: 10px;
}

 .navigation a {
   color: black;
 }

.mother,
.valley,
.orca,
.earth,
.burger,
.research,
.fbi,
.cats,
.brooklyn,
.bites,
.cookie {
  border: 1px solid black;
}

.container {
  display: flex;
  margin: 0px 10px;
  border: 1px solid black;
  


}

.column {
  flex-grow: 2;
  display:inline-flex;
  margin-top: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.large,
.small,
.medium {
  border: 1px solid black;
}

.large {
  display: flex;
  width: 630px;
  flex-direction: column;
}

.medium {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.small {
  display: flex;
  width: 240px;
  flex-direction: column;
}
