.header {
  display: flex;
  font-size: 14px;
  font-family: Verdana;
  font-weight: bold;
  border-bottom: 1px solid black;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0px;
}

.logo {
  display: flex;
  align-items: center;

}
.logo p {
  color: MediumAquamarine;
  padding: 5px;
}

.logo img {
  padding: 10px 10px 10px 20px;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.headlink {
  padding: 10px;
}

 .navigation a {
   color: black;
 }

.mother,
.valley,
.orca,
.earth,
.burger,
.research,
.fbi,
.cats,
.brooklyn,
.bites,
.cookie {
  border: 1px solid black;
}

.container {
  display: flex;
  margin: 0px 10px;
  border: 1px solid black;
}

.column {
  flex-grow: 2;
  display:inline-flex;
  margin-top: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.large,
.small,
.medium {
  border: 1px solid black;
}

.large {
  display: flex;
  width: 630px;
  flex-direction: column;
}

.medium {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.small {
  display: flex;
  width: 240px;
  flex-direction: column;
}

.mother,
.earth,
.research,
.cats {
  display: flex;
}

.mother {
  height: 300px;
  align-items: flex-start;
}

.earth,
.research,
.cats {
    height: 300px;
    justify-content: center;
}

.mother p {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 40px;
  border: 1px solid white;
  margin: 0px;
}

.earth p,
.research p,
.cats p {
  display: inline-flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border: 1px solid white;
  margin: 0px;
  text-align: center;
}

.research p {
  text-align: center;
  width: 500px;
  height: 80px;
}

.cats p {
  width: 260px;
  height: 80px;
}

.valley,
.orca,
.burger,
.fbi,
.brooklyn,
.bites {
  font-family: Georgia;
  font-size: 17px;
}

.main-background {
  background-image: url("./images/img-story-main.png");
}

.earth-background {
  background-image: url("./images/img-story-2.png");
}

.camera-background {
  background-image: url("./images/img-story-3.png");
}

.cats-background {
  background-image: url("./images/img-story-1.png");
}
